





//Colors//

$white: #fff;
$black: #000;
$color-D7D7D7: #D7D7D7;
$color-333333: #333333;
$color-7F7F7F: #7F7F7F;
$color-6687BE: #6687BE;
$color-CCCCCC: #CCCCCC;
$color-AAAAAA: #AAAAAA;
$color-0099FF: #0099FF;
$color-666666: #666666;
$color-4c4b4b: #4c4b4b;
$color-CBCBCB: #CBCBCB;
$color-2EB3CB: #2EB3CB;

$color-515151: #515151;
$color-FF0000: #FF0000;
$color-999999: #999999;
